In [235]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [375]:
data = pd.read_csv("car_data.csv")

In [376]:
data

      Car_id;Date;Customer Name;Gender;Annual Income;Dealer_Name;Company;Model;Engine;Transmission;Color;Price ($);Dealer_No ;Body Style;Phone;Dealer_Region
0      C_CND_000001;01/02/2022;Geraldine;Male;13500;B...
1      C_CND_000002;01/02/2022;Gia;Male;1480000;C & M...
2      C_CND_000003;01/02/2022;Gianna;Male;1035000;Ca...
3      C_CND_000004;01/02/2022;Giselle;Male;13500;Chr...
4      C_CND_000005;01/02/2022;Grace;Male;1465000;Chr...
...                                                  ...
23901  C_CND_023902;12/31/2023;Martin;Male;13500;C & ...
23902  C_CND_023903;12/31/2023;Jimmy;Female;900000;Ry...
23903  C_CND_023904;12/31/2023;Emma;Male;705000;Chrys...
23904  C_CND_023905;12/31/2023;Victoire;Male;13500;Ch...
23905  C_CND_023906;12/31/2023;Donovan;Male;1225000;P...

[23906 rows x 1 columns]

In [377]:
data.columns

Index(['Car_id;Date;Customer Name;Gender;Annual Income;Dealer_Name;Company;Model;Engine;Transmission;Color;Price ($);Dealer_No ;Body Style;Phone;Dealer_Region'], dtype='object')

In [378]:
data = data['Car_id;Date;Customer Name;Gender;Annual Income;Dealer_Name;Company;Model;Engine;Transmission;Color;Price ($);Dealer_No ;Body Style;Phone;Dealer_Region'].str.split(';', expand=True)

In [379]:
data = data.rename(columns={0: 'Car_id', 1:'Date', 2:'Customer_Name', 3:'Gender', 4:'Annual_Income', 5:'Dealer_Name',
                            6:'Company', 7:'Model', 8:'Engine', 9:'Transmission', 10:'Color', 11:'Price($)', 12:'Dealer_No',
                            13:'Body_Style', 14:'Phone', 15:'Dealer_Region'})

In [380]:
data.head()

,Car_id,Date,Customer_Name,Gender,Annual_Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price($),Dealer_No,Body_Style,Phone,Dealer_Region
0,C_CND_000001,01/02/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÃ‚Â Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,01/02/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÃ‚Â Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,01/02/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,01/02/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,01/02/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÃ‚Â Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville

In [381]:
data.dropna(inplace = True)

In [382]:
data.drop_duplicates(inplace = True)

In [383]:
data.drop('Car_id', axis= 1, inplace = True)

In [384]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           23906 non-null  object
 1   Customer_Name  23906 non-null  object
 2   Gender         23906 non-null  object
 3   Annual_Income  23906 non-null  object
 4   Dealer_Name    23906 non-null  object
 5   Company        23906 non-null  object
 6   Model          23906 non-null  object
 7   Engine         23906 non-null  object
 8   Transmission   23906 non-null  object
 9   Color          23906 non-null  object
 10  Price($)       23906 non-null  object
 11  Dealer_No      23906 non-null  object
 12  Body_Style     23906 non-null  object
 13  Phone          23906 non-null  object
 14  Dealer_Region  23906 non-null  object
dtypes: object(15)
memory usage: 2.7+ MB

In [385]:
data.columns

Index(['Date', 'Customer_Name', 'Gender', 'Annual_Income', 'Dealer_Name',
       'Company', 'Model', 'Engine', 'Transmission', 'Color', 'Price($)',
       'Dealer_No', 'Body_Style', 'Phone', 'Dealer_Region'],
      dtype='object')

In [386]:
data.head()

,Date,Customer_Name,Gender,Annual_Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price($),Dealer_No,Body_Style,Phone,Dealer_Region
0,01/02/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÃ‚Â Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,01/02/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÃ‚Â Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,01/02/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,01/02/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,01/02/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÃ‚Â Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville

In [387]:
data['Date'] = pd.to_datetime(data['Date'])

In [388]:
data['Annual_Income'] = data['Annual_Income'].astype(int)
data['Phone'] = data['Phone'].astype(int)

In [389]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           23906 non-null  datetime64[ns]
 1   Customer_Name  23906 non-null  object
 2   Gender         23906 non-null  object
 3   Annual_Income  23906 non-null  int32
 4   Dealer_Name    23906 non-null  object
 5   Company        23906 non-null  object
 6   Model          23906 non-null  object
 7   Engine         23906 non-null  object
 8   Transmission   23906 non-null  object
 9   Color          23906 non-null  object
 10  Price($)       23906 non-null  object
 11  Dealer_No      23906 non-null  object
 12  Body_Style     23906 non-null  object
 13  Phone          23906 non-null  int32
 14  Dealer_Region  23906 non-null  object
dtypes: datetime64[ns](1), int32(2), object(12)
memory usage: 2.6+ MB

*******************************************************************

In [260]:
import psycopg2
import pandas as pd

# Function to connect to PostgreSQL database
def connect():
    conn = psycopg2.connect(
        dbname="datapiece3",
        user="postgres",
        password="mdkn",
        host="localhost",
        port="5432"
    )
    return conn


def load_date_dim(conn, data):
    cursor = conn.cursor()
    try:
        for index, row in data.iterrows():
            cursor.execute("INSERT INTO Date_Dim (Date) VALUES (%s)", (row['Date'],))
        conn.commit()
        print("Data loaded into Date_Dim table successfully!")
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
    finally:
        cursor.close()

In [261]:
distinct_date = data[['Date']].drop_duplicates()

In [262]:
distinct_date.shape

(612, 1)

In [263]:
conn = connect()

In [264]:
load_date_dim(conn, distinct_date)
conn.close()

Data loaded into Date_Dim table successfully!

*******************************************************************

In [132]:
def connect():
    conn = psycopg2.connect(
        dbname="datapiece3",
        user="postgres",
        password="mdkn",
        host="localhost",
        port="5432"
    )
    return conn


def load_car_dim(conn, data):
    cursor = conn.cursor()
    try:
        for index, row in data.iterrows():
            cursor.execute("INSERT INTO Car_Dim (Company, Model, Engine, Transmission, Color, Body_Style) VALUES (%s, %s, %s, %s, %s, %s)", 
                           (row['Company'], row['Model'], row['Engine'], row['Transmission'], row['Color'], row['Body_Style']))
        conn.commit()
        print("Data loaded into Car_Dim table successfully!")
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
    finally:
        cursor.close()

In [103]:
distinct_car = data[['Company', 'Model', 'Engine', 'Transmission', 'Color', 'Body_Style']]

In [105]:
distinct_car = distinct_car.drop_duplicates()

In [124]:
distinct_car.shape

(740, 6)

In [133]:
conn = connect()

In [134]:
load_car_dim(conn, distinct_car)
conn.close()

Data loaded into Car_Dim table successfully!

*******************************************************************

In [193]:
def connect():
    conn = psycopg2.connect(
        dbname="datapiece3",
        user="postgres",
        password="mdkn",
        host="localhost",
        port="5432"
    )
    return conn



def load_customer_dim(conn, data):
    cursor = conn.cursor()
    try:
        for index, row in data.iterrows():
            cursor.execute("INSERT INTO Customer_Dim (Customer_Name, Gender, Annual_Income, Phone) VALUES (%s, %s, %s, %s)", 
                           (row['Customer_Name'], row['Gender'], row['Annual_Income'], row['Phone']))
        conn.commit()
        print("Data loaded into Customer_Dim table successfully!")
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
    finally:
        cursor.close()

In [194]:
distinct_customer = data[['Customer_Name', 'Gender', 'Annual_Income', 'Phone']]

In [195]:
distinct_customer = distinct_customer.drop_duplicates()

In [196]:
distinct_customer.shape

(23906, 4)

In [197]:
conn = connect()

In [198]:
load_customer_dim(conn, distinct_customer)
conn.close()

Data loaded into Customer_Dim table successfully!

*******************************************************************

In [161]:
def connect():
    conn = psycopg2.connect(
        dbname="datapiece3",
        user="postgres",
        password="mdkn",
        host="localhost",
        port="5432"
    )
    return conn



def load_dealer_dim(conn, data):
    cursor = conn.cursor()
    try:
        for index, row in data.iterrows():
            cursor.execute("INSERT INTO Dealer_Dim (Dealer_Name,  Dealer_No, Dealer_Region) VALUES (%s, %s, %s)", 
                           (row['Dealer_Name'], row['Dealer_No'], row['Dealer_Region']))
        conn.commit()
        print("Data loaded into Dealer_Dim table successfully!")
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
    finally:
        cursor.close()

In [162]:
distinct_dealer = data[['Dealer_Name', 'Dealer_No', 'Dealer_Region']]

In [163]:
distinct_dealer = distinct_dealer.drop_duplicates()

In [164]:
distinct_dealer.shape

(196, 3)

In [165]:
conn = connect()

In [166]:
load_dealer_dim(conn, distinct_dealer)
conn.close()

Data loaded into Dealer_Dim table successfully!

In [390]:
distinct_car.head()

,Company,Model,Engine,Transmission,Color,Body_Style
0,Ford,Expedition,DoubleÃ‚Â Overhead Camshaft,Auto,Black,SUV
1,Dodge,Durango,DoubleÃ‚Â Overhead Camshaft,Auto,Black,SUV
2,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,Passenger
3,Toyota,Celica,Overhead Camshaft,Manual,Pale White,SUV
4,Acura,TL,DoubleÃ‚Â Overhead Camshaft,Auto,Red,Hatchback

In [391]:
distinct_customer.head()

  Customer_Name Gender  Annual_Income    Phone
0     Geraldine   Male          13500  8264678
1           Gia   Male        1480000  6848189
2        Gianna   Male        1035000  7298798
3       Giselle   Male          13500  6257557
4         Grace   Male        1465000  7081483

In [392]:
distinct_date.head()

          Date
0   2022-01-02
35  2022-01-03
55  2022-01-04
70  2022-01-05
100 2022-01-06

In [393]:
distinct_dealer.head()

                           Dealer_Name   Dealer_No Dealer_Region
0  Buddy Storbeck's Diesel Service Inc  06457-3834    Middletown
1                     C & M Motors Inc  60504-7114        Aurora
2                          Capitol KIA  38701-8047    Greenville
3               Chrysler of Tri-Cities  99301-3882         Pasco
4                    Chrysler Plymouth  53546-9427    Janesville

In [394]:
def extract_car_dim(conn):
    cursor = conn.cursor()
    try:
        cursor.execute("SELECT * FROM Car_Dim")
        rows = cursor.fetchall()
        columns = [desc[0] for desc in cursor.description]
        df = pd.DataFrame(rows, columns=columns)
        return df
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
    finally:
        cursor.close()

In [395]:
conn = connect()

# Extract data from Car_Dim table
car_dim = extract_car_dim(conn)

In [396]:
car_dim.head()

,car_id,company,model,engine,transmission,color,body_style
0,1,Ford,Expedition,DoubleÃ‚Â Overhead Camshaft,Auto,Black,SUV
1,2,Dodge,Durango,DoubleÃ‚Â Overhead Camshaft,Auto,Black,SUV
2,3,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,Passenger
3,4,Toyota,Celica,Overhead Camshaft,Manual,Pale White,SUV
4,5,Acura,TL,DoubleÃ‚Â Overhead Camshaft,Auto,Red,Hatchback

In [397]:
def extract_date_dim(conn):
    cursor = conn.cursor()
    try:
        cursor.execute("SELECT * FROM date_dim")
        rows = cursor.fetchall()
        columns = [desc[0] for desc in cursor.description]
        df = pd.DataFrame(rows, columns=columns)
        return df
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
    finally:
        cursor.close()

In [398]:
conn = connect()

# Extract data from Car_Dim table
date_dim = extract_date_dim(conn)

In [399]:
date_dim.head()

   date_id        date
0    72959  2022-01-02
1    72960  2022-01-03
2    72961  2022-01-04
3    72962  2022-01-05
4    72963  2022-01-06

In [400]:
date_dim['date'] = pd.to_datetime(date_dim['date'])

In [401]:
date_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date_id  612 non-null    int64
 1   date     612 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 9.7 KB

In [402]:
def extract_customer_dim(conn):
    cursor = conn.cursor()
    try:
        cursor.execute("SELECT * FROM customer_dim")
        rows = cursor.fetchall()
        columns = [desc[0] for desc in cursor.description]
        df = pd.DataFrame(rows, columns=columns)
        return df
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
    finally:
        cursor.close()

In [403]:
conn = connect()

# Extract data from Car_Dim table
customer_dim = extract_customer_dim(conn)

In [404]:
customer_dim.head()

   customer_id customer_name gender annual_income    phone
0            1     Geraldine   Male         13500  8264678
1            2           Gia   Male       1480000  6848189
2            3        Gianna   Male       1035000  7298798
3            4       Giselle   Male         13500  6257557
4            5         Grace   Male       1465000  7081483

In [405]:
def extract_dealer_dim(conn):
    cursor = conn.cursor()
    try:
        cursor.execute("SELECT * FROM dealer_dim")
        rows = cursor.fetchall()
        columns = [desc[0] for desc in cursor.description]
        df = pd.DataFrame(rows, columns=columns)
        return df
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
    finally:
        cursor.close()

In [406]:
conn = connect()

# Extract data from the Car_Dim table
dealer_dim = extract_dealer_dim(conn)

In [407]:
dealer_dim.head()

   dealer_id                          dealer_name   dealer_no dealer_region
0          1  Buddy Storbeck's Diesel Service Inc  06457-3834    Middletown
1          2                     C & M Motors Inc  60504-7114        Aurora
2          3                          Capitol KIA  38701-8047    Greenville
3          4               Chrysler of Tri-Cities  99301-3882         Pasco
4          5                    Chrysler Plymouth  53546-9427    Janesville

In [408]:
data.columns = [x.lower() for x in data.columns]

In [409]:
data.head(3)

,date,customer_name,gender,annual_income,dealer_name,company,model,engine,transmission,color,price($),dealer_no,body_style,phone,dealer_region
0,2022-01-02,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÃ‚Â Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,2022-01-02,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÃ‚Â Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,2022-01-02,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville

In [410]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           23906 non-null  datetime64[ns]
 1   customer_name  23906 non-null  object
 2   gender         23906 non-null  object
 3   annual_income  23906 non-null  int32
 4   dealer_name    23906 non-null  object
 5   company        23906 non-null  object
 6   model          23906 non-null  object
 7   engine         23906 non-null  object
 8   transmission   23906 non-null  object
 9   color          23906 non-null  object
 10  price($)       23906 non-null  object
 11  dealer_no      23906 non-null  object
 12  body_style     23906 non-null  object
 13  phone          23906 non-null  int32
 14  dealer_region  23906 non-null  object
dtypes: datetime64[ns](1), int32(2), object(12)
memory usage: 2.6+ MB

In [411]:
df1 = pd.merge(data, car_dim, on=list(car_dim.columns[1:]), how='left')

In [412]:
df1.head(3)

,date,customer_name,gender,annual_income,dealer_name,company,model,engine,transmission,color,price($),dealer_no,body_style,phone,dealer_region,car_id
0,2022-01-02,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÃ‚Â Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown,1
1,2022-01-02,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÃ‚Â Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora,2
2,2022-01-02,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville,3

In [413]:
df1.shape

(23906, 16)

In [414]:
df2 = pd.merge(df1, customer_dim, on = list(customer_dim.columns[1:]), how='left')

In [415]:
df2.shape

(23906, 17)

In [416]:
df3 = pd.merge(df2, dealer_dim, on=list(dealer_dim.columns[1:]), how = 'left')

In [417]:
df3.shape

(23906, 18)

In [418]:
df4 = pd.merge(df3, date_dim, on='date', how='left')

In [419]:
df4.shape

(23906, 19)

In [420]:
df4.head(3)

,date,customer_name,gender,annual_income,dealer_name,company,model,engine,transmission,color,price($),dealer_no,body_style,phone,dealer_region,car_id,customer_id,dealer_id,date_id
0,2022-01-02,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÃ‚Â Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown,1,1,1,72959
1,2022-01-02,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÃ‚Â Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora,2,2,2,72959
2,2022-01-02,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville,3,3,3,72959

In [421]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           23906 non-null  datetime64[ns]
 1   customer_name  23906 non-null  object
 2   gender         23906 non-null  object
 3   annual_income  23906 non-null  object
 4   dealer_name    23906 non-null  object
 5   company        23906 non-null  object
 6   model          23906 non-null  object
 7   engine         23906 non-null  object
 8   transmission   23906 non-null  object
 9   color          23906 non-null  object
 10  price($)       23906 non-null  object
 11  dealer_no      23906 non-null  object
 12  body_style     23906 non-null  object
 13  phone          23906 non-null  object
 14  dealer_region  23906 non-null  object
 15  car_id         23906 non-null  int64
 16  customer_id    23906 non-null  int64
 17  dealer_id      23906 non-null  int64
 18  date_id        23906 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(14)
memory usage: 3.5+ MB

In [422]:
df4['price($)'] = df4['price($)'].astype(int)

******************************************************

In [423]:
def connect():
    conn = psycopg2.connect(
        dbname="datapiece3",
        user="postgres",
        password="mdkn",
        host="localhost",
        port="5432"
    )
    return conn



def load_sles_fact(conn, data):
    cursor = conn.cursor()
    try:
        for index, row in data.iterrows():
            cursor.execute("INSERT INTO sales_fact (date_id,  customer_id, dealer_id, car_id, price) VALUES (%s, %s, %s, %s, %s)", 
                           (row['date_id'], row['customer_id'], row['dealer_id'], row['car_id'], row['price($)']))
        conn.commit()
        print("Data loaded into sales_fact table successfully!")
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
    finally:
        cursor.close()

In [424]:
conn = connect()

In [425]:
load_sles_fact(conn, df4)
conn.close()

Data loaded into Dealer_Dim table successfully!